
<Input @value={{this.newTitle}} @enter={{action this.addPost}} />

<PostView @post={{@model}} @showBody={{true}} />

<ul>
  {{#each @model as |post|}}
    <li>
      <LinkTo @route="posts.post" @model={{post.id}}>
        <PostView @post={{post}} @showBody={{false}} />
      </LinkTo>
    </li>
  {{/each}}
</ul>


{{outlet}}

{{!--{{#each @model as |post|}}
  {{post.id}}
{{/each}}--}} <!-- shows the post id existing ot nor-->

